
* {
    background-color: #945145;
}

body {
    background-color: #945145
}

.hero img{
  display: flex;
  width: 100%;
}

.margins {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.buttonExpand {
    height: 100%;
    width: 100%;
}

#map {
    height: 500px;
    width: 100%;
  }