* {
    background-color: #945145;
}

body {
    background-color: #945145
}

.margins {
    margin-top: 20px;
    
}   

.card-img-top {
    margin-top: 0px;
    width: 100%;
    height: 50%;
}

/* #map {
    width: 80%;
    height: 80%
} */